<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <form action="~/Home/Registration">
        <input type="submit" value="Registration" />
    </form>
    <form action="~/Home/Authorization">
        <input type="submit" value="Authorization" />
    </form>
</body>
</html>